/*
** file: css/main.css
** description: custom styling for "html/main.html" file
*/

div#main-outer {
    width: 300px;
    margin: 5px;
    background-color: #CCC;
    background-image: url('../images/background.jpg');
    background-position: cover;
    color: white;
    border-radius: 5px;
}

div#main-inner {
    padding: 8px;
}

div#main-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 3px #333;
}

img#main-image {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

div#main-about-text {
    margin-top: 10px;
    text-align: center;
}

a, a:visited, a:hover, a:link {
    color: white;
    text-decoration: none;
    outline: 0;
}

.support-project {
    text-align: center;
    color: white;
    text-decoration: none;
    outline: 0;
    display: block;
    background-color: rgba(255,255,255,.3);
    padding: 10px;
    box-sizing: border-box;
}

.support-project:hover {
    background-color: rgba(255,255,255,.6);
}